<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>管理者ログイン</title>
</head>
<body>
  <h1>管理者ログイン</h1>
  <p th:if="${param.error}" style="color:red">
    メールまたはパスワードが違います
  </p>

  <form th:action="@{/admin/signin}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <label>メール：</label><input type="email" name="username"/><br/>
    <label>パス：</label><input type="password" name="password"/><br/>
    <button type="submit">ログイン</button>
  </form>


  <p><a th:href="@{/admin/signup}">新規登録</a></p>
</body>
</html>
